# The user ID can be found at zotero.org/settings/security#applications
ZOTERO_ID=

# Generate a new key at zotero.org/settings/security#applications
ZOTERO_API_KEY=

# Not required, but welcome to avoid rate-limiting
HUGGING_FACE_API_KEY=
